<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    {{range $groupName, $groupInfo := .Group}}
      <div class="group">
        <div class="group-title">
          {{ $groupName }}
        </div>
        <div class="group-content">
          {{range $path, $methods := $groupInfo}}
            {{range $method, $detail := $methods}}
              <div class="request" data-request="{{$.Host}}{{$path}}" data-method={{$method}}>
                <div class="request-title">
                  <span class="label">{{toUpper $method}}</span>
                  <span class="url">{{$path}}</span>
                </div>
                <div class="request-desc">
                  <p>{{$detail.Title}}</p>
                  <p>{{$detail.Desc}}</p>
                </div>
                <div class="request-content">
                  <!-- 参数 -->
                  {{range $param := $detail.Params}}
                    {{range $paramName, $paramInfo := $param}}
                      <p>{{$paramName}}:<input class="param {{and $paramInfo.Required "is-required"}}" type="{{$paramInfo.Type}}" data-default="{{$paramInfo.Default}}" placeholder="{{or $paramInfo.Desc ""}}" data-key="{{$paramName}}" /></p>
                    {{end}}
                  {{end}}

                  <button>发送请求</button>
                </div>
              </div>
              <div class="response">

              </div>
            {{end}}
          {{end}}
        </div>
      </div>
    {{end}}
  </body>
</html>
